<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Label</key>
<string>{{label}}</string>
{% if runAtLoad %}
<key>RunAtLoad</key>
<true/>
{% endif %}
{% if keepAlive %}
<key>KeepAlive</key>
<true/>
{% endif %}
<key>ProgramArguments</key>
<array>
    {% for arg in args %}<string>{{arg}}</string>
    {% endfor %}
</array>
</dict>
</plist>